@charset "ISO-8859-1";

body{
	font-family: Helvetica;color: navy;font-size: 18px;
	background: url(grand_livre.jpg) no-repeat center fixed; 
  	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
 	 background-size: cover; /* version standardisée */
}

h1{
	font-size: 30px ; color: blue; font-weight: bold; allign: right
}

.cadre  {margin: 10; width:48%; background-color:silver; border: 2px solid navy;font-size: 14px}

.bouton1{
	margin-left: 10%;
}

.bouton2	{
	margin-left: 10%;
}

.zone_commentaire{
	width: 400%; height:50px;
}

.zone_commentaire2{
	width: 90%; height:150px;
}

.input_court{
	width: 30%;
}

.input_long{
	width: 99%;
}